<div class="progress-container bg-[#111827] rounded-xl w-full p-3">
  <div class="flex justify-between text-sm mb-2">
    <span class="text-gray-400">{{ label }}</span>
    <span class="text-white" data-counter="{{ value }}">0%</span>
  </div>

  <div class="w-full h-2 sm:h-4 md:h-3 bg-gray-700 rounded overflow-hidden">
    <div
      class="progress-bar h-2 sm:h-4 md:h-3 rounded transition-[width] duration-700 ease-out"
      style="width: 0%; background-color: {{ color }};"
      data-progress="{{ value }}"
      data-color="{{ color }}">
    </div>
  </div>
</div>
