
<div>
    <form action="{% url 'Account:login' %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Valider</button>
    </form>
    {% if messages %}
        <div class="alert-container">
            {% for message in messages %}
                <div class="alert alert-danger">
                    {{ message }} <a href="{% url 'Account:register' %}">Se connecter</a>
                </div>
            {% endfor %}
        </div>
    {% endif %}
</div>

