{% extends 'trackshop_base.html' %}

{% block profil %}
    <a href="{% url 'Account:register' %}">S'inscrire</a>
{% endblock %}

{% block content %}
          <h2 class="text-center text-3xl mb-10">Connectez-vous à votre compte TS</h2>
    <div class="text-center">
        {% if messages %}
            <div class="alert-container">
                {% for message in messages %}
                    <div class="alert alert-danger">
                        <span class="text-red-600">{{ message }}</span><a href="{% url 'Account:register' %}" class="text-blue-600">Mot de passe oublié ?</a>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    <div class="border flex-column p-10" style="border: 1px solid violet; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%);">
        <form action="{% url 'Account:login' %}" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="bg-slate-200 dark:bg-slate-700 text-slate-900 dark:text-slate-100 transition-200">Valider</button>
        </form>
    </div>
{% endblock %}

