{% extends 'base.html' %}
{% load static %}

{% block sub_menu %}
<h1 class="text-3xl mb-5">Settings</h1>

<div class="mb-5">
    <div class="flex items-center justify-around gap-3">
        <span class="flex items-center gap-2">
            Apparence
            {% include 'components/view.html' %}
        </span>

        <!-- Toggle -->
        <button id="toggle_mode"
            class="w-12 h-4 sm:h-5 bg-gray-300 dark:bg-gray-600 
                   rounded-full relative transition-colors
                   flex items-center">
            
            <div id="toggle_circle"
                class="w-4 h-4 sm:w-5 sm:h-5
                       rounded-full bg-white shadow-md
                       transition-transform
                       absolute left-0.5">
            </div>
        </button>
    </div>
</div>
{% endblock %}

{% block content %}
    <div id="setting" class="">
        <div id="title" class="text-2xl border-b-2 border-gray-600 ">Générale</div>
        {% include "accounts/partials/general_settings.html" %}
    </div>
{% endblock %}

