@import "tailwindcss";
@plugin "daisyui";

/* Active le dark mode par class */
@variant dark (&:where(.dark, .dark *));

/* Scan Django templates */
@source "../../../**/*.{html,py,js}";

/* TEST VISUEL */
.test-dark {
  @apply bg-white dark:bg-red-600 text-black dark:text-white p-4;
}
