
<h3>Stock/{{ stock }}</h3>
{% if stock.products.all %}
    {% for product in stock.products.all %}   
        <p>{{ product }} </p>
    {% endfor %}
    <a href="{% url 'TrackShop:new_product' stock.pk %}">Nouveau produit</a>
{% else %}
    {% if stock %}
        <p>Aucun produit trouvé pour {{ stock }}</p>
        <a href="{% url 'TrackShop:new_product' stock.pk %}">Nouveau produit</a>
    {% else %}
        <p>Vous n'avez pas encore des stock<br>Cliquer sur 'Nouveau stock' pour <br>Créer un stock</p>
    {% endif %}
{% endif %}