{% extends 'base.html' %}


{% block content %}

{% endblock %}

{% block sub_menu %}
    <h3>Historique de payment</h3>

    {% if sale.payments.all %}

        {% for payment in sale.payments.all %}
            <h4>{{ payment.created_at }}</h4>
            <p>{{ payment.amount }} <span> </span> {{ payment.currency.symbol }}</p>
        {% endfor %}

    {% else %}

        <p>Aucun paymenet pour la dette de {{ sale.client }}</p>

    {% endif %}
    
{% endblock %}

{% block form %}
    <div id="payment" style="padding: 10px;">
        <h3>Payment de {{ sale.client }}</h3>
        <div style="text-align: left; margin: 30px; border-bottom: 2px solid blue;" id="sale_summary">
            Date: {{ sale.created_at }} <br>
            Montant total: {{  sale.total_amount }} <span> </span> {{ sale.currency.symbol }} <br>
            Total payé: {{ sale.paid_amount }} <span> </span> {{ sale.currency.symbol }}<br>
            Reste à payé: {{ sale.balance }} <span> </span> {{ sale.currency.symbol }}
        </div>

        <form
            hx-post="{% url 'TrackShop:add-payment' sale.pk %}" 
            hx-target="#payment"
            hx-swap="innerHTML">
            {% csrf_token %} 
            <label for="currency">Selectionner la Dévise: </label>
            <select id="currency_select" name="currency" id="" required>
                <option value="USD">USD</option>
                <option value="CDF">CDF</option>
            </select>
            Taux du jours: <input type="decimal" id="rate" readonly value="{{ rate }}"><br>
            <label for="amount">Montant : </label><input id="amount" type="number" name="amount" step="0.01" min="0.01" max="{{ sale.balance }}" placeholder="0.00">
            <button type="submit" 
                >Valider</button>
        </form>
    </div>
    <script>
        document.getElementById('currency_select').addEventListener('change', function(){
            const currency = document.getElementById('currency_select').value;
            if (currency === "CDF") {
                document.getElementById('amount').max = {{ sale.balance }} * {{ rate }};
            }

            else {
                document.getElementById('amount').max = {{ sale.balance }};
            }
        })
    </script>
{% endblock %}