{% extends 'base.html' %}


{% block sub_menu %}
    <h1 class="text-3xl">Dashboard</h1>
{% endblock %}

{% block content %}
    <div id="kpi" style="display: flex; flex-wrap: wrap; justify-content: space-between;">
        {% include "components/kpi_card.html" with title="Stock" value=stocks.count %}

        {% include "components/kpi_card.html" with title="Ventes aujourd'hui" value=todaySales.count %}

        {% include "components/kpi_card.html" with title="Crédits" value=debts.count %}

        {% include "components/kpi_card.html" with title="Client" value=clients.count %}

        {% include "components/kpi_card.html" with title="Produits" value=products %}
    </div>

    <div class="flex wrap justify-between mt-5 h-50">
            <div class="rounded-xl p-5 shadow-lg m-2 flex">
                <span>Evolution du chiffre d'affaire</span>
            </div>
            <div class="rounded-xl p-5 shadow-lg m-2 flex">
                <span>Evolution du chiffre d'affaire</span>
            </div>

            <div class="rounded-xl p-5 shadow-lg m-2 flex">
                <span>Repartition des ventes par produit</span>
            </div>
    </div>
    {% block form %}
    {% endblock %}
{% endblock %}