
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid #000;
            padding: 6px;
            text-align: left;
        }

        th {
            background-color: #f0f0f0;
        }

        .border {
            border: 2px solid black;
        }
        
        .flex {
            display: flex;
            justify-content: space-between;
        }

    </style>
</head>
<body>

<h2 style="text-align: center;">ETS KALEMO-SERVICE</h2>
<div class="flex justify-between">
    <div class="">
        CHEZ M. KALEMO STIVEN <br>
        BBO/RCCM/25-A-2098 <br>
        46 AV.NGULO C/VULAMBA <br>
        N°ID: 19-G4701-N77400R <br>
        Tel: +243 993 034 970 <br>
    </div>
    <div>
        Date : {{ sale.created_at|date:"d/m/Y" }}<br>
        Facture N°: {{ sale.id }}<br>
        Status :
        {% if sale.is_credit %}
            <span style="color:red;">Vente en crédit</span>
        {% else %}
            <span style="color:green;">Payé</span>
        {% endif %}
    </div>
</div>

<h2 style="text-align: center;">Facture</h2>
<p>Mr, Mlle {{ sale.client.complete_name }} doit pour </p>
<table>
    <thead>
        <tr>
            <th>Produit</th>
            <th>Qté</th>
            <th>PU</th>
            <th>Total</th>
            <th>Montant payé</th>
        </tr>
    </thead>
    <tbody>
        {% if is_cdf %}
            {% for item in sale.items.all %}
            <tr>
                <td>{{ item.product.name }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.unit_price_cdf|floatformat:2 }}Fc</td>
                <td>{{ item.total_price_cdf|floatformat:2 }}Fc</td>
                <td>{{ item.paid_amount_cdf|floatformat:2 }}Fc</td>
            </tr>
            {% endfor %}
        {% else %}
            {% for item in sale.items.all %}
            <tr>
                <td>{{ item.product.name }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.unit_price }}$</td>
                <td>{{ item.total_price }}$</td>
                <td>{{ item.paid_amount }}$</td>
            </tr>
            {% endfor %}
        {% endif %}
    </tbody>
</table>
<h3>Total payé : {% if is_cdf %} {{ sale.paid_cdf|floatformat:2 }}Fc {% else %} {{ sale.paid_amount_base }}$ {% endif %} </h3>
</body>
</html>


