{% extends 'base.html' %}

{% block sub_menu %}
    <h1>Vente</h1>

    <input
        type="text"
        name="product_search"
        placeholder="Rechercher un produit…"
        hx-get="{% url 'TrackShop:search-product' %}"
        hx-trigger="keyup changed delay:300ms"
        hx-target="#product-result"
        hx-swap="innerHTML"
    >
    <div id="product-result">
        <form>
            {% csrf_token %}
            {% for p in products %}
                <div class="block"
                    hx-post="{% url 'TrackShop:select-product' p.pk %}"
                    hx-target="#sale-items"
                    hx-trigger="click"
                    hx-swap="beforeend"
                    hx-on:click="const row=this.closest('div') ;row.querySelector('[name=&quot;prod_selected[]&quot;]').value={{ p.pk }}; document.getElementById('prod{{ p.pk }}').remove();"
                    onclick="document.getElementById('validate-sale-btn').classList.remove('hidden'); document.getElementById('help_text').classList.add('hidden')">{{ p.name }}

            <input type="hidden" name="prod_selected[]" value="{{ product.pk }}">

            </div>

            {% endfor %}

        </form>
    </div>
{% endblock %}

{% block content %}

    <form action="{% url 'TrackShop:sale-save' %}" method="POST">
        {% csrf_token %}
        <!-- Client -->
        <div style="display: flex; flex-direction: row; border-bottom: 2px solid blue; margin: 40px 0 0 40px">
            <div class="autocomplete">
                <input style=""
                        type="text"
                        name="client_search"
                        placeholder="Rechercher un client..."
                        hx-get="{% url 'TrackShop:search-client' %}"
                        hx-trigger="keyup changed"
                        hx-target="#client_results">

                
            </div>

            <div id="client_results" style="margin-bottom: 30px;">
                 <div style="display: flex;">
                    {% for c in clients %}
                            <label for="client{{ c.id }}" style="border: 2px solid blue; height: 50px; margin-left: 10px;">{{ c.complete_name }}</label>
                            <input id="client{{ c.id }}" type="radio" name="client_id" value="{{ c.id }}" required>

                    {% endfor %}
                </div>
            </div>
        </div>
        {% if message %}
            {{ message }}
        {% endif %}
        <!-- Produits -->
        

        <div id="sale-items" style="width: 50%;">
        </div>

        <div id="help_text">
            <p>help text bla bla bla bla </p>
        </div>
        
        <button id="validate-sale-btn" class="hidden" type="submit" onclick="submitSale()">Valider la vente</button>
        <div id="product_count"></div>
    </form>

    <div id="sale-result"></div>

{% endblock %}