<div class="grid grid-cols-1 lg:grid-cols-2 gap-4 mt-5 font-sans text-base lg:text-sm leading-relaxed">

    <!-- PROFIL -->
    <div class="border border-gray-600 p-5 dark:shadow-2xl shadow-lg rounded-lg">
        <div class="flex justify-between items-center">
            <p class="text-gray-400 text-sm flex items-center gap-2">
                {% include 'components/user.html' %} Profil
            </p>
            <button
                hx-get="{% url 'Account:edit-profile' user.pk %}"
                hx-trigger="click"
                hx-target="#form-content"
                hx-swap="innerHTML"
                onclick="openFormModal()">
                {% include 'components/pencil.html' %}
            </button>
        </div>

        <div class="mt-4 space-y-3 text-sm lg:text-base">
            <p>Nom d'utilisateur :
                <span class="ml-2 font-bold">{{ user }}</span>
            </p>

            <p>Email :
                <span class="ml-2 font-bold">{{ user.email }}</span>
            </p>

            <p>Status du compte :
                {% if user.is_active %}
                    <span class="ml-2 text-green-600">Activé</span>
                {% else %}
                    <span class="ml-2 text-red-600">Désactivé</span>
                {% endif %}
            </p>

            <div class="text-right pt-2">
                <a href="{% url 'Account:logout' %}" class="text-sm underline">
                    Déconnecter
                </a>
            </div>
        </div>
    </div>

    <!-- BOUTIQUES -->
    <div class="border border-gray-600 p-5 dark:shadow-2xl shadow-lg rounded-lg">
        <div class="flex justify-between items-center flex-wrap gap-2">
            <p class="text-gray-400 text-sm flex items-center gap-2">
                {% include 'components/home.html' %} Boutiques
            </p>

            <div class="flex items-center gap-2">
                <button
                    hx-get="{% url 'Account:switch-shop' %}"
                    hx-target="#form-content"
                    hx-swap="innerHTML"
                    onclick="openFormModal()">
                    {% include 'components/switch.html' %}
                </button>

                <button
                    hx-get="{% url 'Account:edit-shop' request.active_shop.pk %}"
                    hx-target="#form-content"
                    hx-swap="innerHTML"
                    onclick="openFormModal()">
                    {% include 'components/pencil.html' %}
                </button>

                <button
                    hx-get="{% url 'Account:create-shop' %}?from=setting"
                    hx-target="#form-content"
                    hx-swap="innerHTML"
                    onclick="openFormModal()">
                    {% include 'components/add.html' %}
                </button>
            </div>
        </div>

        <div class="mt-4 flex flex-wrap gap-4 text-sm lg:text-base">
            {% include "components/kpi_card.html" with title="Nombres" value=user.owned_shops.count %}
            {% include "components/kpi_card_text.html" with title="Boutique active" value=request.active_shop %}
        </div>
    </div>
</div>

<!-- AUTRES CARTES -->
<div class="grid grid-cols-1 lg:grid-cols-2 gap-4 mt-5 font-sans text-base lg:text-sm leading-relaxed">

    <div class="border border-gray-600 p-5 dark:shadow-2xl shadow-lg rounded-lg">
        <div class="flex justify-between items-center">
            <p class="text-gray-400 text-sm flex items-center gap-2">
                {% include 'components/currency.html' %} Taux d'échange
            </p>
            <button
                hx-get="{% url 'TrackShop:set-exchange-rate' %}?from=setting"
                hx-target="#form-content"
                hx-swap="innerHTML"
                onclick="openFormModal()">
                {% include 'components/pencil.html' %}
            </button>
        </div>

        <div class="mt-4 text-sm lg:text-base">
            {% include "components/kpi_card_text.html" with title="Taux (CDF à USD)" value=rate %}
        </div>
    </div>

    <div class="border border-gray-600 p-5 dark:shadow-2xl shadow-lg rounded-lg">
        <div class="flex justify-between items-center">
            <p class="text-gray-400 text-sm flex items-center gap-2">
                {% include 'components/process.html' %} Situation boutiques
            </p>
        </div>

        <div class="mt-4 flex gap-4 overflow-x-auto pb-2 text-sm lg:text-base">
            {% for shop in user.owned_shops.all %}
                {% include "components/kpi_card_text.html" with title=shop value=shop.get_status %}
            {% endfor %}
        </div>
    </div>

</div>
