<h3>Historique d'achats pour {{ client }}</h3>
<h1>Nombre total d'achats: {{ client_sales.count }}</h1>

<div id="history">
    {% for sale in client_sales %} 
        <div class="sale_history">
            <h3>Achat du {{ sale.product }} date: {{ sale.date }}</h3>
            <p>Quantité: {{ sale.quantity }}</p>
            <p>Montant payé: {{ sale.payedAmount }}</p>
        </div>
    {% endfor %}
</div>

<div id="autre_info">
    <p>Chiffre d'affaire généré: {{ revenue }}</p>
    <p>Produits les plus achetés: {{ top_product }}</p>
    
</div>

