
<div class="text-xl text-center mb-10">Ajouter un fournisseur</div>

<div class="text-left border shadow-2xl border-gray-600 p-10 rounded-lg">    
    <form action="{% url 'TrackShop:new-provider' %}" method="POST" class="mt-5 text-left">
        {% csrf_token %}
          <label for="name">Nom du fournisseur: </label><br>
          <input type="text" id="name" name="provider_name" class="
                    h-9 lg:h-9  px-3 py-2 border border-gray-500 rounded-md  pl-2 
                    focus:outline-none focus:border-2 focus:border-green-600
                    dark:bg-gray-800 dark:border-gray-600 dark:text-white
                    " placeholder="Nom du fournisseur"><br>
          <input type="hidden" value="purchase" name="from">
            
          <div class="flex justify-around mt-10">
            <a href="" onclick="closeModal()">Annuler</a>
            <button type="submit" id="theme-toggle" class="px-2  w-30 rounded-lg bg-green-600 text-white dark:bg-green-600 text-slate-900 dark:text-slate-100 transition-200">Ajouter</button>
        </div>
    </form>
</div>



