{% load static %}
{% if product %}
            <div class="bg-white dark:bg-gray-800 rounded-xl p-5 w-full">
                <p class="text-gray-500 dark:text-gray-400 text-sm mb-">
                    Details produit {{ product }}
                </p>
                <div class="flex justify-between flex-wrap" >
                    {% include "components/kpi_card.html" with title="Quantité en stock" value=evaliable_quantity %}

                    {% include "components/kpi_card.html" with title="Ventes du mois" value=sales_this_month %}

                    {% include "components/kpi_card.html" with title="Chiffre d'affaires généré ($)" value=sales_revenue %}

                    {% include "components/kpi_card.html" with title="Crédits clients ($)" value=product_debt|floatformat:2 %}

                    {% include "components/kpi_card.html" with title="Crédits fournisseur ($)" value=product_provider_debt|floatformat:2 %}
                </div>
            </div>
{% else %}
    <p class="text-gray-500 dark:text-gray-400 text-sm mb-2">
                Detaille
    </p>
    <p class="text-center">Séléctionner un produit pour voir les détails</p>
{% endif %}

