<h3>Stock/{{ stock }}</h3>
{% if stock.products.all %}
    {% for prod in stock.products.all %}   
        <p><a href="" hx-get="{% url 'TrackShop:product_details' prod.pk %}" hx-target="#product_details" hx-trigger="click" hx-swap="innerHTML">{{ prod }}</a></p>
    {% endfor %}
    <a href="" hx-get="{% url 'TrackShop:new_product' stock.pk %}" hx-target="#form" hx-trigger="click">Nouveau produit</a>
{% else %}
    {% if stock %}
        <p>Aucun produit trouvé pour {{ stock }}</p>
        <a href="" hx-get="{% url 'TrackShop:new_product' stock.pk %}" hx-target="#form" hx-trigger="click" hx-swap="innerHTML">Nouveau produit</a>
    {% else %}
        <p>Vous n'avez pas encore des stock<br>Cliquer sur 'Nouveau stock' pour <br>Créer un stock</p>
    {% endif %}
{% endif %}
    {% if product %}
        <span href="" hx-get="{% url 'TrackShop:product_details' product.pk %}" hx-target="#product_details" hx-trigger="load" hx-swap="innerHTML"></span>
    {% endif %}