{% load static django_htmx django_browser_reload tailwind_tags %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Trackshop</title>
	{% htmx_script %}
	{% tailwind_css %}
	<script src="{% static 'trackshop/sale.js' %}" defer></script>
	<script src="{% static 'trackshop/kpi.js' %}"></script>
	<style>
		.hidden {
			display: none;
		}
		.total-box { margin-top: 15px; }
		table { border-collapse: collapse; width: 100%; }
		th, td {border: 1px solid #333; padding: 6px; }

		ul{
			list-style-type: none;
		}

		.box{
			cursor: pointer;
		}
	</style>

	<script>
		(function () {
		const theme = localStorage.getItem("theme");
		if (theme === "dark") {
			document.documentElement.classList.add("dark");
		}
		})();
	</script>

</head>
<body class="min-h-screen bg-white dark:bg-[#111827] text-black dark:text-white"
      hx-headers='{"x-csrftoken": "{{ csrf_token }}"}'>
	{% if debug %}
		{% django_browser_reload_script %}
	{% endif %}
	<header class="sticky top-0 z-50 w-full bg-white dark:bg-[#111827]
               shadow-md backdrop-blur flex items-center justify-between px-4 py-2">
			<span id="logo" class="border flex items-center rounded-full p-2 w-15 h-15 text-5xl">Ts</span> 
			<nav class="" >
				{% block nav %}
				    <ul id="main_nav" class="w-full">
						<a href="{% url 'TrackShop:dashboard' %}">Dashboard</a>
						<a href="{% url 'TrackShop:stock' %}" class="ml-10">Stock</a>
						<a href="{% url 'TrackShop:create-purchase' %}" class="ml-10">Achat</a>
						<a href="{% url 'TrackShop:sale-create' %}" class="ml-10">Vente</a>
						<a href="{% url 'TrackShop:cash_book' %}" class="ml-10">Livre de caisse</a>
						<a href="{% url 'TrackShop:inventory' %}" class="ml-10">Inventaire</a>
						<a href="{% url 'TrackShop:client' %}" class="ml-10">Clients</a>
					</ul>
				{% endblock %}
			</nav>
			<div class="flex items-center">
				{% block profil %}
					<div class="border-r-2 border-gray-600 pr-2">
						<p class="text-lg">{{ request.user }}</p>
						<p class="text-sm">{{ request.active_shop }}</p>
					</div>
					<div>
						<a href="{% url 'Account:setting' %}"><img  
						src="{% static 'img/setting.svg' %}" alt="Setting"
						class="ml-2 w-6 dark:invert transition duration-300"
						></a>
					</div>
					

				{% endblock %}
			</div>
	</header>

	<main class="flex flex-col lg:flex-row min-h-[calc(100vh-64px)]">
			<aside class="w-full lg:w-64 bg-gray-100 dark:bg-gray-900
						border-r border-gray-300 dark:border-gray-700
						overflow-x-auto lg:overflow-y-auto">

				{% block sub_menu %}{% endblock %}
			</aside>

			<div class="p-10 shadow-2xl lg:ml-5 w-full flex lg:flex-col max-h-[60vh] sm:max-h-[65vh] md:max-h-[87vh] flex-col overflow-y-auto lg:overflow-y-auto mt-10">
				{% block content %}
				{% endblock %}	
			</div>

			<div id="form-modal" class="hidden fixed inset-0 z-50 items-center justify-center p-4">
					<!-- Fond -->
					<div id="form-overlay" class="absolute inset-0 bg-black/30 dark:bg-black/40 backdrop-blur-sm md:backdrop-blur-md"></div>

				<!-- Contenu -->
				<div id="form-content" class="relative bg-white dark:bg-gray-800 text-black dark:text-white p-6 rounded-lg shadow-2xl w-full max-w-md mx-auto">
					{% block form %}{% endblock %}
					<!-- Bouton de fermeture -->
					<button id="form-close" class="absolute top-2 right-2 text-gray-600 dark:text-gray-300 hover:text-red-500">&times;</button>
				</div>
			</div>
			
	</main>


	
<script>
document.addEventListener("DOMContentLoaded", function() {
  const modal = document.getElementById("form-modal");
  const overlay = document.getElementById("form-overlay");
  const closeBtn = document.getElementById("form-close");

  // Fonction pour ouvrir le modal
  window.openFormModal = function() {
    modal.classList.remove("hidden");
    modal.classList.add("flex");
  }

  // Fonction pour fermer le modal
  function closeModal() {
    modal.classList.add("hidden");
    modal.classList.remove("flex");
  }

  // Fermer en cliquant sur l’overlay ou sur la croix
  overlay.addEventListener("click", closeModal);
  closeBtn.addEventListener("click", closeModal);
});
</script>
	

</body>
