<div class="sale-row" data-sale-row>

    <input
        type="text"
        name="product_search"
        placeholder="Rechercher un produit…"
        hx-get="{% url 'TrackShop:search-product' %}"
        hx-trigger="keyup changed delay:300ms"
        hx-target=".product-result"
        hx-swap="innerHTML"
    >

    <input type="hidden" name="product_id[]">

    <div class="product-result"></div>

</div>

    <input type="number" name="quantity[]" min="1" value="1" required>
        <button type="button" onclick="this.closest('div').remove()">
            ❌
    </button>
