<div class="product-row" id="prod{{ product.pk }}" style="border: 2px solid green; padding: 20px;" onload="alert('Bonjour')">
    <element id="header" style="display: flex; justify-content: space-between;">
        <h1>{{ product }}</h1>
        <button style="height: 30px;" type="button" onclick="this.closest('div').remove(); updateAddButton()">❌</button>
    </element>
        <label for="quantity">Quantité : </label><input type="number" name="quantity[]" min="1" max="{{ product.quantity }}" id="quantity" value="1" onchange="
            const row = this.closest('.product-row');
            const input_quantity = row.querySelector('#quantity').value;
            const product_price = row.querySelector('#product_price').value;
            const input_paid_amount = row.querySelector('#paid_amount')
            var leftover_amount = row.querySelector('#leftover_amount');
            // On change la valeur du montant à payer en fonction de la quantity entrée
            const currency = document.getElementById('currency_select').value;
            if (currency === 'CDF'){
                input_paid_amount.value = (input_quantity * product_price).toFixed(2);
                leftover_amount.value = ((input_quantity * product_price) - input_paid_amount.value).toFixed(2);
            } 
            else {
                input_paid_amount.value = (input_quantity * product_price).toFixed(2);
                leftover_amount.value = ((input_quantity * product_price) - input_paid_amount.value).toFixed(2);
            }
            // On change la valeur du montant à payer en fonction de la quantity entrée 
            " onkeyup="
            const row4 = this.closest('.product-row');
            const input_quantity4 = row4.querySelector('#quantity').value;
            const product_price4 = row4.querySelector('#product_price').value;
            const input_paid_amount4 = row4.querySelector('#paid_amount')
            var leftover_amount4 = row4.querySelector('#leftover_amount');
            // On change la valeur du montant à payer en fonction de la quantity entrée
            const currency4 = document.getElementById('currency_select').value;

            if (currency4 === 'CDF'){
                input_paid_amount4.value = (input_quantity4 * product_price4).toFixed(2);
                leftover_amount.value = ((input_quantity4 * product_price4) - input_paid_amount4.value).toFixed(2);
            } 
            else {
                input_paid_amount4.value = (4 * product_price4).toFixed(2);
                leftover_amount.value = ((input_quantity4 * product_price4) - input_paid_amount4.value).toFixed(2);
            }
            ">

        <label for="paid_amount">Montant payé : </label><input id="paid_amount" type="number" step="0.01" name="paidAmount[]" min="0" placeholder="0.00" value="{{ product.price }}" onkeyup="
            
            const row2 = this.closest('.product-row');
            const input_quantity2 = row2.querySelector('#quantity').value;
            const product_price2 = row2.querySelector('#product_price').value;
            var leftover_amount = row2.querySelector('#leftover_amount');
            const currency2 = document.getElementById('currency_select').value;

            if (currency2 === 'CDF'){
                leftover_amount.value = (product_price2 * input_quantity2) - this.value;
                if (this.value > product_price2 * input_quantity2 * document.getElementById('rate').value){
                    leftover_amount.value = 0;
                }
            }
            else {
                
                leftover_amount.value = (product_price2 * input_quantity2) - this.value;
                if (this.value > product_price2 * input_quantity2){
                leftover_amount.value = 0;
                }
            }
             
        " onchange="
            const row3 = this.closest('.product-row');
            const input_quantity3 = row3.querySelector('#quantity').value;
            const product_price3 = row3.querySelector('#product_price').value;
            var leftover_amount2 = row3.querySelector('#leftover_amount');
            const currency3 = document.getElementById('currency_select').value;
            if (currency3 === 'CDF') {
                leftover_amount2.value = (product_price3 * input_quantity3) - this.value;
                if (this.value > product_price3 * input_quantity3 * document.getElementById('rate').value){
                    leftover_amount2.value = 0;
                }
            }
            else {
                leftover_amount2.value = (product_price3 * input_quantity3) - this.value;
                if (this.value > product_price3 * input_quantity3){
                    leftover_amount2.value = 0;
                }
            }  
        "><span id="currency">$</span><br>

        <label for="product_price">Prix : </label><input readonly id="product_price" type="decimal" name="productPrice" value="{{ product.price }}" read><span id="currency">$</span>

        <label for="leftover_amount">Montant restant : </label><input id="leftover_amount" type="number" name="leftOver" step="0.01" min="0" value="0" readonly><span id="currency">$</span>
        <input type="hidden" name="product_id[]" value="{{ product.pk }}"> <br><br>

</div>

